---
---
@import "{{ site.theme }}";

.wrapper {
  width: 900px;
  margin: 0 auto;
}
  
header {
  width: 100%;
  float: none;
  position: static;
  text-align: center;
}
  
section {
  width: 100%;
  float: none;
  position: static;
  text-align: left;
}

footer {

}

header p.view {
  display: none;
}
  
