---
---
@import "{{ site.theme }}";

.wrapper {
  width: 900px;
  margin: 0 auto;
}
  
header {
  width: 100%;
  float: none;
  position: static;
  text-align: center;
  background-color: #666
}

  
section {
  width: 100%;
  float: none;
  position: static;
  text-align: left;
}

section h1 {
  background-color: #aaa;
}

section h2 {
  background-color: #ddd;
}


footer {

}

body {
  background-color: #eee;
}

header p.view {
  display: none;
}
  
